/* Compact Theme for Scrapbox */
.container {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
}
.page-list.clearfix {
    width: 100%;
}
.page-list ul.grid {
    display: block;
}
.page-list .grid li {
    width: 100%;
    height: 1.2em;
    margin: 0px;
}
.grid li.page-list-item a .content {
    flex-direction: row; /* flexの向きを水平方向に */
    height: inherit;
}
.header { /* タイトルプレビュー */
    border-top: 0px !important;
    padding: 0px !important;
    padding-left: 0.5em !important;
    width: 30% !important;
    height: inherit;
}
.grid li.page-list-item a .description { /* 本文プレビュー */
    width: 70%;
    height: inherit;
    padding: 0px;
}
.description br {
    display: none; /* 本文プレビュー内の改行を無効化 */
}
.description p::after {
    content: "    |    "; /* 改行の代わりにセパレータを表示 */
}

.navbar {
    margin-bottom: 0px !important;
}
.app {
    padding-top: 40px !important; /* 40pxはヘッダーの高さ */
}
.quick-launch {
    margin-bottom: 0px !important;
}

/* フッターの表示改善 */
.footer {
    background-color: transparent;
}
.status-bar {
    background-color: transparent;
}
.page-list {
    margin-bottom: 30px;
}

/* 検索結果の表示改善 */
.list li.page-list-item a .description {
    display: inline-block;
    margin: 0px;
    height: 1.5rem;
    width: 70%;
}
.list li.page-list-item a .title-with-description {
    display: inline-block;
    width: 30%;
    height: 2rem;
    font-size: 14px;
    overflow: hidden;
}
.list li.page-list-item a {
    padding: 0px;
    height: 2rem;
    min-height: 0px;
}
.list li.page-list-item a .content {
    margin-left: 0px;
    height: 2rem;
}
.list li.page-list-item a .icon { /* 新規作成ボタン */
    width: 0;
}
/* 関連ページの見出し */
.related-page-list ul.grid {
    display: block;
}
.related-page-list .grid li {
    height: 2rem;
    width: 100%;
}
.grid li.relation-label a {
       height: 2rem;
       padding: 0px;
}
.grid li.relation-label a .icon-lg {
    display: none;
}
.grid li.relation-label a .title {
    overflow: visible;
}
.grid li.splitter.splitter {
    height: 1.5rem;
}

/* 編集画面の */
.line .text {
    height: 1.5em; /* 行間を狭く */
}
.cursor-line {
    height: 1.5em !important; /* 選択行が広くなる問題を解消 */
}
